* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: #222;
   overflow: hidden;
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
}
.container .box {
   transform-style: preserve-3d;
}

.container .box span {
   text-align: center;
   width: 15em;
   background-color: rgba(102, 51, 153, 1);
   position: absolute;
   color: #fff;
   font-size: 3.5em;
   white-space: nowrap;
   text-transform: uppercase;
   font-weight: 900;
   padding: 0 10px;
   transform-style: preserve-3d;
   text-shadow: 0 5px 15px rgba(0.25);
   transform: translate(-50%, -50%) rotateY(calc(var(--i) * 120deg))
      translateZ(300px);
}

.container .box span i:nth-child(1) {
   font-style: initial;
   color: #ff246f;
}

.container .box span i:nth-child(2) {
   font-style: initial;
   color: #12b5ff;
}
